.container {
    padding: 20px;
    width: calc(45vw - 80px);
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
}

.image {
    background-image: url(../../images/book.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 70px;
    margin-right: 20px;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.18px;
    color: #4B6479;
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
    padding: 3px 6px;
}

.saveBtn {
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    background: #01B2C0;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.saveBtn:hover {
    background: #006770;
}